USE [master]
GO
/****** Object:  Database [Proview]    Script Date: 08/01/2015 14:24:49 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Proview')
BEGIN
CREATE DATABASE [Proview] 
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proview].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proview]
GO
/****** Object:  Table [dbo].[UserInput]    Script Date: 08/01/2015 14:24:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserInput]') AND type in (N'U'))
DROP TABLE [dbo].[UserInput]
GO
/****** Object:  Table [dbo].[UserInput]    Script Date: 08/01/2015 14:24:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserInput]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserInput](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Expression] [nvarchar](500) NOT NULL,
	[Result] [nvarchar](500) NULL,
 CONSTRAINT [PK_UserInput] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
