@{
    ViewBag.Title = "About";
}
<h2>Proview Code Challenge</h2>
<h3>The problem</h3>
<p>
    I encounter this challenge while surfing the web, read the whole challenge <a href="http://www.proview.vn/bai-viet/cuoc-thi-tuyen-dung-nhan-tai-aspnet-mvc">here</a>.
    The problem is quite simple but since I was reading about Repository Pattern and Unit Of Work. <br />I decided to give it a try.
</p>

<h3>The technical</h3>
<p>
    I applied quite a few techniques here:
    <ul>
        <li>MVC 5 with Entity Framework 6</li>
        <li>Repository Design Pattern with Unit Of Work</li>
        <li>Angular JS with many modules like paging, searching, auto showing ajax loading icon, global message service, global confirm modal service...</li>
    </ul>
    If you by any chance read about my work here and feel like you can customize it to your need, feel free to give it a go and if possible, say hi to me at sasssyboy224 at gmail dot com   
</p>
